page-home {
  ion-icon{color: #000;}
  .btn_cls{margin:auto;width:60%;}
  .margin_card_gap{margin-top:20px;}
  .margin_btn_gap{margin-top:40px;}
  .ion_item{margin-bottom: 2px;border: 1px solid #ccc;}
  .device_inp{margin-top: 10px;margin-bottom: 10px;}
}

.button.activated{background-color: #426ffa;}
